// Resource Definition File (for the Windows version).
// Copyright (c) 2009 Andy Thomas, (c) 2016-2018 Darth Ninja, (c) 2021 Darth Spectra

// MAIN ICON
MainIcon ICON DISCARDABLE "IconWin.ico"

// RESOURCES: TODO

// VERISON INFO: TODO
