//---------------------------------------------------------------------------
// NAME        : res.rc
// PURPOSE     : Resource Definition File
// COPYRIGHT   : Andy Thomas (C)
//---------------------------------------------------------------------------

//---------------------------------------------------------------------------
// MAIN ICON
//---------------------------------------------------------------------------
MainIcon ICON DISCARDABLE "icon_win.ico"

//---------------------------------------------------------------------------
// RESOURCES
//---------------------------------------------------------------------------

//---------------------------------------------------------------------------
// VERISON INFO
//---------------------------------------------------------------------------

//---------------------------------------------------------------------------

